.about_contacts img {
    margin-right: 28px;
}    

@media (max-width: 990px) {
    .about_contacts {
        flex-direction: column;
    }
    .about_contacts img {
        height: 318px;
        width: 318px;
        margin-bottom: 30px;
    }    
    .ml_0px{
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .about_contacts img {
        height: 480px;
        width: 480px;
    }    
}
@media (max-width: 535px) {
    .about_contacts img {
        height: auto;
        width: auto;
    }    
}

.h_10px{
    height: 10px;
}

.text_light_black {
    color : rgb(78, 78, 78);
}

/* GeneralScrollSpy.module.css */
