.fade_top{
    transform:  translateY(0%);

}


.cssanimation{
  animation-duration: 1s;
}


.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      transform: translateY(20%);
  }
  to { opacity: 1 }
}