/* GeneralScrollSpy.module.css */

.fw_14_px{
    font-size: 14px;
}

.fw_16_px{
    font-size: 16px;
}

.f_famil_poppins{
    font-family: 'Poppins', sans-serif;
}

.top_vh_10{
    top: 10vh;
}
.customNavbar {
    /* Remove any unwanted borders or margins */
    border: none !important;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
}

.custom_btn_style{
    color: var(--main_color);
    border: 2px solid var(--main_color);
    background-color: var(--general_bg_color);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 10px 20px;
    border-radius: 2px;
}

.custom_btn_style:hover{
    background-color: var(--main_color);
    color: var(--general_bg_color);
}

.bd_radius_6_px{
    border-radius: 6px;
}

.dropdown_menu {
    display: none;
    opacity: 0;
    transition: display 0s, opacity 0.3s ease;
    }
  
  .dropdown_menu_show {
    display: block;
    opacity: 1;
    }
  

    /* General button styling */
.hover_button_animation {
    position: relative;
    display: inline-block;
    border: none;
    cursor: pointer;
}

/* Pseudo-element for the underline */
.hover_button_animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.3s;
}

/* Hover effect */
.hover_button_animation:hover::after {
    width: 100%;
}

.border_button_bottom{
    position: relative;
    display: inline-block;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.border_button_bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    width: 100%;
}

.white_shadow {
    -moz-box-shadow: 3px 2px 23px -15px  #FFFFFF;
    -webkit-box-shadow: 3px 2px 23px -15px  #FFFFFF;
     box-shadow: 3px 2px 23px -15px  #FFFFFF;
  }
  
  .logo_img{
    cursor: pointer;
    width:127px;
    height: 47px;
  }