.custom_btn_style{
    color: var(--main_color);
    border: 2px solid var(--main_color);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 10px 20px;
}

.custom_btn_style:hover{
    background-color: var(--main_color);
    color: var(--general_bg_color);
}
