.dimmed_image {
  z-index: 0; /* Ensures the image stays in the background */
  filter: brightness(45%);
  }
  
.intr_size{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.typing_text{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;

}

.home_main{
    height: 50px;
    width: 100vw;
}



.non_blinking_cursor {
  width: 7px;
  background-color: white; /* Adjust cursor color to match text color */
}

.blinking_cursor {
  width: 7px;
  background-color: white; /* Adjust cursor color to match text color */
  animation: blink 1s step-start infinite;
}

.home_styling{
  background-color: rgb(0, 0, 0);
  /* z-index: -1; */
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}
