.dimmed_image {
  z-index: 0; /* Ensures the image stays in the background */
  filter: brightness(45%);
  height: 100vh;
  /* width: 50%; */
  }
  
.intr_size{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.typing_text{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;

}

.home_main{
    height: 50px;
    width: 100vw;
}



.non_blinking_cursor {
  width: 7px;
  background-color: white; /* Adjust cursor color to match text color */
}

.blinking_cursor {
  width: 7px;
  background-color: white; /* Adjust cursor color to match text color */
  animation: blink 1s step-start infinite;
}

.home_styling{
  background-color: rgb(0, 0, 0);
}

/* @media (max-width: 1375px) {
  .dimmed_image {
    width: 60%; 
}
}


@media (max-width: 1133px) {
  .dimmed_image {
    width: 65%; 
}
}

@media (max-width: 1053px) {
  .dimmed_image {
    width: 70%; 
}
}


@media (max-width: 768px) {
  .dimmed_image {
    width: 90%; 
    height: 100%;
}
}

@media (max-width: 576px) {
  .dimmed_image {
      width: 70%; 
      height: 100%;
  }
}

@media (max-width: 550px) {
  .dimmed_image {
      width: 100%;
  }
} */

@keyframes blink {
  50% {
      opacity: 0;
  }
}
