.project_card {
    overflow: hidden;
    margin-bottom: 30px;
  }

.project_card img {
    height: 100%;
    width: 100%;
}


.card_description{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    width: 75%;
    top: 42%;
    left: 13%;
    padding-inline: 18px;
    padding-top: 12px; 
    top: -100%; /* Hide the description by moving it down */
    transition: top 0.3s ease-in-out; 
}

.project_card:hover .card_description{
    top: 40%;
    /* bottom: 5%; */
}

.card_description p {
    color: rgb(30.59% 30.59% 30.59% / 0.7);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade_in {
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}

.fade_in_up {
  opacity: 0;
  transform: translateY(600px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.a_{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.a_first_word .a_last_word{
    display: block;

}
@media (max-width: 773px) {
    .list_item{
        font-size: 14px;
    }
}

@media (max-width: 356px) {
    .list_item{
        font-size: 8px;
    }
}

@media (max-width: 231px) {
    .list_item{
        font-size: 5px;
    }
}

