.fw_26_px{
    font-size: 26px;
}

.circle{
    position: relative;
}

.circle::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--resume-shapes);
    left: -13px;
    top: 3px;
}

.resume_section {
    position: relative;
}

.resume_section::after{
    position: absolute;
    content: "";
    border: 1px solid var(--resume-shapes);
    height: calc(100% - 10px);
    left: -22px;
    top: 18px;
}
