:root {
  /* --general_bg_color: #091d42; */
  --general_bg_color: #000000;
  --main_color: #2CD97B;
}

.bg_general_color {
  background-color: var(--general_bg_color);
}

/* globals.css */
main {
  margin-top: 90px; 
}


.fade_in_element_5_s{
  animation: fadeIn5s 5s;
}

@keyframes fadeIn5s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade_in_element_3_s{
  animation: fadeIn3s 3s;
}

@keyframes fadeIn3s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
