@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
  /* --general_bg_color: #091d42; */
  --general_bg_color: #000000;
  --main_color: #2CD97B;
  --resume-shapes: #0078ff;
}

.bg_general_color {
  background-color: var(--general_bg_color);
}

body {
  overflow-x: hidden;
}
main {
  margin-top: 90px; 
}


.fade_in_element_5_s{
  animation: fadeIn5s 5s;
}

@keyframes fadeIn5s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade_in_element_3_s{
  animation: fadeIn3s 3s;
}

@keyframes fadeIn3s {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* font family */

.f_famil_raleway{
  font-family: 'Raleway', sans-serif;
}
.f_famil_roboto{
  font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.f_style_italic{
  font-style: italic;
}

/* different font sizes */
.fw_18_px{
  font-size: 18px;
}


.fw_12_px{
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.fw_16_px{
  font-size: 16px;
}


.ml_24px{
  margin-left: 24px;
}

.fw_28_px{
  font-size: 28px;
}
.fw_26_px{
  font-size: 26px;
}



.section_title{
  display: inline-block; 
  font-weight: bold;
  position: relative;
  font-size: 32px;
  padding-bottom: 15px;
  text-align:center;

}

.section_title::after{
  content: "";
  position: absolute;
  border-bottom: solid var(--resume-shapes) 3px;
  width: 50%;
  top: 100%;
  left: 25%;

}
